{{ if and site.Params.sharing (ne .Params.share false) }}
<div class="subscribe-box" aria-hidden="true">
	<center>
		<h3 style="color: #555;">
			Found this tool useful?
		</h3>
		Leave a like to let everyone know!
	</center>
  <ul class="subscribe">
     <!--call function here; change multiclap = "true" to "false" to disable multiclaps-->
	  <li><applause-button style="width: 58px; height: 58px;" url="{{ $.Permalink }}" /></li>
  </ul>
  <center> Feel free to share this tool via the below methods </center>
</div>
{{ end }}



